body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.chat-container {
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  padding: 20px;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 15px;
  word-wrap: break-word;
}


.user-bubble {
  align-self: flex-end;
  background-color: #007AFF;
  color: white;
}

.assistant-bubble {
  align-self: flex-start;
  background-color: #E5E5EA;
}

.input-container {
  display: flex;
  width: 94%;
  padding: 15px;
  background-color: white;
  border-top: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007AFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 50px;
}
